fastapi
uvicorn[standard]
pydantic
boto3
psycopg[binary]
pillow
python-multipart
prometheus-client

langchain
langchain-core
langchain-text-splitters
langchain-ollama
langchain-chroma
chromadb
python-frontmatter
PyJWT==2.10.1
