--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
pydantic
boto3
psycopg[binary]
pillow
python-multipart
prometheus-client
torch==2.7.0+cpu
torchvision==0.22.0+cpu
matplotlib

langchain
langchain-core
langchain-text-splitters
langchain-ollama
langchain-chroma
chromadb
python-frontmatter
PyJWT==2.10.1
